.tooling/mule-git-jenkin-cicdb4c87238-8547-43fd-b366-6ddc34c09fe9/mule-git-jenkin-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="43679e56-8960-4ac8-963a-974f924afc92" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-git-jenkin-cicdFlow" doc:id="41fa8a53-0689-4184-ac00-664da2242d66" >
		<http:listener doc:name="Listener" doc:id="57179661-25c2-4784-b12e-a82628503ee3" />
		<set-payload value='#["Hello Mule "]' doc:name="Set Payload" doc:id="0ed867dd-813b-4323-8914-f2cb5372ec47" />
	</flow>
</mule>
